bin/
.metadata/

# https://github.com/github/gitignore/blob/master/Gradle.gitignore
# ==============================================================================
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# ==============================================================================

.idea/
*.iml
*.iws

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# gimp image file to make pngs of graphs for tests
*.xcf
.idea
